@import url('https://fonts.googleapis.com/css2?family=Suez+One&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.parallax {
  background-image: url("https://images.pexels.com/photos/5088009/pexels-photo-5088009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  opacity: 0.8;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax p.color-txt,
h1 {
  color: #FFFFFF;
  font-family: 'Suez One', serif;
  
}

.paralax {
  background-image: url("https://images.pexels.com/photos/4218710/pexels-photo-4218710.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  opacity: 0.8;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao-estilo {
  box-shadow: 5px 10px #AC9685;
}

.botao-estilo:hover {
  background-color: #AC9685;
}

.posiCard {
  bottom: 32px;
}

.txtSize {
  font-size: 30pt;
}

.paralax h1.txtPosicao {
  position: absolute;
  top: 145px;
  left: 255px;
  font-size: 40px;
}

.bg {
  background-color: #D69936;
}

.bgu {
  background-color: #637F58;
}

.bgd {
  background-color: #7CB8E3;
}