<!--EFEITO PARALAX COM A IDEIA DO SITE-->
<div class="parallax">
  <div class="row w-100">
    <div class="col-md-12">
      <h1 class="text-left p-3 pr-3 d-flex justify-content-center mb-5 mt-5">
        CENTRO DE APRENDIZAGEM FEITO PARA VOCÊ
      </h1>     
    </div>
  </div>
  <!-- Início-->
  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify color-txt txtSize d-flex justify-content-center">
        Garantindo o Acesso à Educação
      </p>

    </div>
  </div>
</div>

<!--Card - Apresentação da empresa-->
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4 bg-dark">Quem somos?</h1>
    <p class="lead">
      Uma comunidade brasileira de aprendizagem online para pessoas que desejam aprender, ensinar e se divertir.
    </p>
  </div>
</div>


<!--CARDS COM OS OBJETIVOS-->
<div class="container d-flex justify-content-center mt-5">
  <div
    class="card text-white bg mr-3 mb-3 posiCard"
    style="max-width: 22rem"
  >
    <div class="card-header">APRENDA</div>
    <div class="card-body">
      <h5 class="card-title">Título de Card Primary</h5>
      <p class="card-text">
        Um exemplo de texto rápido para construir o título do card e fazer
        preencher o conteúdo do card.
      </p>
    </div>
  </div>
  <div
    class="card text-white bgu mr-3 mb-3 posiCard"
    style="max-width: 22rem"
  >
    <div class="card-header">ENSINE</div>
    <div class="card-body">
      <h5 class="card-title">Título de Card Secondary</h5>
      <p class="card-text">
        Um exemplo de texto rápido para construir o título do card e fazer
        preencher o conteúdo do card.
      </p>
    </div>
  </div>
  <div
    class="card text-white bgd mb-3 posiCard"
    style="max-width: 22rem"
  >
    <div class="card-header">DIVIRTA-SE</div>
    <div class="card-body">
      <h5 class="card-title">Título de Card Success</h5>
      <p class="card-text">
        Um exemplo de texto rápido para construir o título do card e fazer
        preencher o conteúdo do card.
      </p>
    </div>
  </div>
</div>

<!--O QUE OFERECEMOS-->
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4 bg-dark">O QUE OFERECEMOS?</h1>
    <p class="lead">
      Aulas gratuitas 100% online para aqueles que não possuem condições,
      contando com ajuda e suporte de colaboradores por meio de doações.
    </p>
  </div>
</div>

<!--CARD DAS AULAS QUE OFERECEMOS-->
  <div class="container">
    <div class="card-group">
      <div class="card p-3">
        <img class="card-img-top" src="https://images.pexels.com/photos/3762803/pexels-photo-3762803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
          <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
      </div>
      <div class="card p-3">
        <img class="card-img-top" src="https://images.pexels.com/photos/3769999/pexels-photo-3769999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
      </div>
      <div class="card p-3">
        <img class="card-img-top" src="https://images.pexels.com/photos/2413552/pexels-photo-2413552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
          <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-3">
    <div class="card-group">
      <div class="card mt-3 p-3">
        <img class="card-img-top" src="https://images.pexels.com/photos/3653849/pexels-photo-3653849.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
          <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
      </div>
      <div class="card mt-3 p-3">
        <img class="card-img-top" src="https://images.pexels.com/photos/5063576/pexels-photo-5063576.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
          <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
      </div>
      <div class="card mt-3 p-3">
        <img class="card-img-top" src="https://images.pexels.com/photos/5306447/pexels-photo-5306447.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
          <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
        </div>
      </div>
    </div>
  </div>

 <!--EFEITO PARALAX-->
<div class="paralax">
  <div class="row w-100">
    <div class="col-md-12">
      <h1 class="text-center d-flex justify-content-center p-3 pr-3 txtPosicao">
       EDUCAÇÃO PARA OS LÍDERES DO AMANHÃ
      </h1>
    </div>
  </div>
</div>


<!--SOBRE NÓS-->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h3 id="quemsomos">Quem Somos</h3>
      <p>
        Uma comunidade brasileira de aprendizagem online para pessoas que
        desejam aprender com vídeos educacionais.
      </p>
      <p>
        Garantindo o acesso à educação inclusiva, de qualidade e equitativa,
        promovendo oportunidades de aprendizagem ao longo da vida para
        todos.
      </p>
      <p>
        Aulas gratuitas 100% online para aqueles que não possuem condições,
        contando com ajuda e suporte de colaboradores por meio de doações.
      </p>
      <p>
        Nossa maior motivação é aumentar substancialmente o número de jovens
        e adultos que tenham habilidades relevantes, inclusive competências
        técnicas e profissionais, para emprego, trabalho decente e
        empreendedorismo.
      </p>
    </div>
    <div class="col-md-6">
      <img src="/assets/img/Equipe.jpg" alt="Quem Somos?" />
    </div>
  </div>
</div>
<br />
<hr>

<!--SOBRE INFORMATIVOS-->
<div class="container">
  <h3>Informativos</h3>
  <div class="card-deck mt-3 mb-3">
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/1181672/pexels-photo-1181672.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/3791664/pexels-photo-3791664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://images.pexels.com/photos/298825/pexels-photo-298825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text ">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados 3 minutos atrás</small>
      </div>
    </div>
  </div>
</div>

<!--SOBRE FORMULARIO ou outra coisa-->
<div class="container">
</div>

<!--BOTAO PARA SE REGISTRAR-->
<div class="row w-100 mt-s mb-5">
  <div class="col-md-12 w-100 d-flex justify-content-center">
    <button
      class="btn btn-outline-dark botao-estilo text-uppercase  mt-3 btn-lg"
    >
      Registrar
    </button>
  </div>
</div>
