@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap");

.txt {
  font-family: "Mulish", sans-serif;
}
.txt-color {
  color: #ffffff;
}
.parallax {
  background-image: url("/assets/img/foto2.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax p.color-txt,
h1 {
  color: #ffffff;
}

.paralax {
  background-image: url("/assets/img/learning3.jpg");
  opacity: 0.8;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao-estilo {
  box-shadow: 4px 4px #c2b9b2;
}

.botao-estilo:hover {
  color: #ac9786;
}

.posiCard {
  bottom: 32px;
}

.txtSize {
  font-size: 30pt;
}

.paralax h1.txtPosicao {
  position: absolute;
  top: 145px;
  left: 255px;
  font-size: 40px;
}

.colorCard1 {
  background: #d8963b;
}

.colorCard2 {
  background: #637f57;
}

.colorCard3 {
  background: #77b8e8;
}

.bodycard {
  opacity: 1.8;
}

.ptext {
  font-size: 15pt;
  font-family: "Roboto", sans-serif;
}
