<!--EFEITO PARALAX COM A IDEIA DO SITE-->
<div class="parallax">
  <div class="row w-100">
    <div class="col-md-12">
      <h1 class="text-left p-3 pr-3 font-weight-bold txt">
        CENTRO DE APRENDIZAGEM<br />
        FEITO PARA VOCÊ
      </h1>
    </div>
  </div>
  <div class="card ml-3" style="width: 18rem">
    <div class="card-body">
      <h3 class="card-title font-weight-bold txt ">DONATE SKILLS</h3>
      <p class="card-text txt">
        Uma comunidade brasileira de aprendizagem online para pessoas que
        desejam aprender, ensinar e se divertir.
      </p>
      <a href="#aulas" class="btn btn-dark botao-estilo">EXPLORE</a>
      <hr>
    </div>
  </div>
</div>
<!--CARDS COM OS OBJETIVOS-->
<div class="container d-flex justify-content-center mb-3">
<div class="card-deck">
  <div class="card colorCard1 posiCard">
    <img class="card-img-top" src="/assets/img/aprenda.png" style="height: 72px; width: 72px; padding-left: 20px;">
    <div class="card-header txt font-weight-bold">APRENDA</div>
    <div class="card-body">
      <h5 class="card-title font-weight-bold">O QUE É?</h5>
      <p class="card-text"> Passar a ter conhecimento sobre; instruir-se: aprender um novo idioma.</p>
    </div>
  </div>
  <div class="card colorCard2 posiCard">
    <img src="/assets/img/ensine.png" style="height: 72px; width: 72px; padding-left: 20px;">
    <div class="card-header txt font-weight-bold">ENSINE</div>
    <div class="card-body">
      <h5 class="card-title font-weight-bold">O QUE É?</h5>
      <p class="card-text">
        Passar a ter conhecimento sobre; instruir-se: aprender um novo idioma.
      </p>
    </div>
  </div>
  <div class="card colorCard3 posiCard">
    <img src="/assets/img/divertir.png" style="height: 72px; width: 72px; padding-left: 20px;">
    <div class="card-header txt font-weight-bold">DIVIRTA-SE</div>
    <div class="card-body">
      <h5 class="card-title font-weight-bold">O QUE É?</h5>
      <p class="card-text">
        Distrair, entreter, recrear. Aqueles que decidiram enfrentar a chuva para se divertir acabaram se concentrando em frente ao palco.
      </p>
    </div>
  </div>
</div>
</div>
<!--O QUE OFERECEMOS-->
<div class="jumbotron jumbotron-fluid text-center bg-dark">
  <div class="container">
    <h1 class="display-4 bg-dark txt txt-color">O QUE OFERECEMOS?</h1>
    <p class="lead txt txt-color">
      Aulas gratuitas 100% online para aqueles que não possuem condições,
      contando com ajuda e suporte de colaboradores por meio de doações.
    </p>
  </div>
</div>
<div id="aulas"></div>
  <div class="container">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="/assets/img/calculator.png" style="height: 72px; width: 72px;" alt="Imagem de capa do card">
        <div class="card-body txt">
         <a routerLink='/login'><h3 class="card-title font-weight-bold  ">Raciocínio Lógico</h3></a> 
          <p class="card-text">O raciocínio lógico está ligado a conceitos capazes de organizar e clarear as situações cotidianas, preparando os jovens para circunstâncias mais complexas. De acordo com o Construtivismo (Piaget), a Matemática ensinada através da imposição de fórmulas, exercícios repetitivos e conceitos limitados, impossibilitam o aprendizado, gerando alunos passivos, desinteressados e com falta de criatividade.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/ingles.png" style="height: 72px; width: 72px;" alt="Imagem de capa do card">
        <div class="card-body txt">
          <a routerLink='/login'><h3 class="card-title font-weight-bold ">Idiomas</h3></a>
          <p class="card-text">Qualquer hora é uma boa hora para aprender (ou melhorar) um idioma. Bem-vindos ao meu mundo de idiomas. Acredito que as pessoas valem o dobro, o triplo, muito mais, porque conhecem 2 ou mais idiomas.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top " src="assets/img/comunicacao.png" style="height: 72px; width: 72px;" alt="Imagem de capa do card">
        <div class="card-body txt">
          <a routerLink='/login'> <h3 class="card-title font-weight-bold ">Comunicação</h3></a>
          <p class="card-text">A comunicação efetiva está entre as mais importantes habilidades de um profissional. E não por acaso, pois é através do bom desenvolvimento da capacidade de comunicar-se e, consequentemente de relacionar-se, que o colaborador desenvolve sua inteligência social e alcança também bons resultados.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-3">
    <div class="card-group">
      <div class="card mt-3 ">
        <img class="card-img-top" src="/assets/img/pc.png" style="height: 72px; width: 72px;" alt="Imagem de capa do card">
        <div class="card-body txt">
          <a routerLink='/login'><h3 class="card-title font-weight-bold ">Lógica de Programação</h3></a>
          <p class="card-text">Aprender a programar é ter nas mãos o "poder" de melhorar ou facilitar a vida das pessoas, por meio da criação de softwares e aplicativos que possam resolver problemas reais da sociedade e tornar o mundo um lugar melhor para se viver.</p>
        </div>
      </div>
      <div class="card mt-3">
        <img class="card-img-top" src="/assets/img/culinaria.png" style="height: 72px; width: 72px;" alt="Imagem de capa do card">
        <div class="card-body txt">
          <a routerLink='/login'><h3 class="card-title font-weight-bold ">Culinária</h3></a>
          <p class="card-text">Os curso de gastronomia ou de culinária podem servir como ponto de encontro entre amigos que querem se ver não só para comer, mas também para aprender a fazer juntos o que estão prestes a degustar.</p>
        </div>
      </div>
      <div class="card mt-3">
        <img class="card-img-top" src="/assets/img/musica.png" style="height: 72px; width: 72px;" alt="Imagem de capa do card">
        <div class="card-body txt">
          <a routerLink='/login'><h3 class="card-title font-weight-bold ">Música</h3></a>
          <p class="card-text">Trabalho em equipe é um aspecto muito importante do sucesso na vida. Tocar um instrumento requer que você trabalhe com outras pessoas para fazer música. Em uma banda ou orquestra, você precisa aprender como cooperar com as pessoas que estão tocando junto com você.</p>
        </div>
      </div>
    </div>
  </div>
<!--EFEITO PARALAX-->
<div class="paralax">
  <div class="row w-100">
    <div class="col-md-12">
    <h1 class="text-center d-flex justify-content-center txtPosicao m-auto font-weight-bold txt">
       "EDUCAÇÃO PARA OS LÍDERES DO AMANHÃ"
      </h1>
    </div>
  </div>
</div>
<!--SOBRE NÓS-->
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h3 id="quemsomos" class="txt font-weight-bold">Quem Somos</h3>
      <p class="txt ptext">
        Uma comunidade brasileira de aprendizagem online para pessoas que
        desejam aprender com vídeos educacionais.
      </p>
      <p class="txt ptext">
        Garantindo o acesso à educação inclusiva, de qualidade e equitativa,
        promovendo oportunidades de aprendizagem ao longo da vida para
        todos.
      </p>
      <p class="txt ptext">
        Aulas gratuitas 100% online para aqueles que não possuem condições,
        contando com ajuda e suporte de colaboradores por meio de doações.
      </p>
      <p class="txt ptext">
        Nossa maior motivação é aumentar substancialmente o número de jovens
        e adultos que tenham habilidades relevantes, inclusive competências
        técnicas e profissionais, para emprego, trabalho decente e
        empreendedorismo.
      </p>
    </div>
    <div class="col-md-6">
      <img src="./assets/img/donateof.gif" style="height: 100%; width: 100%;" alt="Quem Somos?" />
    </div>
  </div>
</div>
<br />
<hr>
<!--SOBRE INFORMATIVOS-->
<div class="container">
  <h3 class="txt font-weight-bold">INFORMATIVOS</h3>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="./assets/img/photo1.jpeg" style="height: 350px; width: 350px;" alt="Imagem de capa do card">
      <div class="card-body">
        <a href="https://brasil.un.org/pt-br/sdgs/8" target="_blank"><h5 class="card-title txt font-weight-bold">Trabalho decente e crescimento econômico</h5></a>
        <p class="card-text txt">Promover o crescimento econômico inclusivo e sustentável, o emprego pleno e produtivo e o trabalho digno para todos. Este conteúdo é um pouco maior, para demonstração.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted txt">Atualizado em 2020</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/photo3.jpeg" style="height: 350px; width: 350px;" alt="Imagem de capa do card">
      <div class="card-body">
       <a href="https://brasil.un.org/pt-br/sdgs/4" target="_blank"><h5 class="card-title txt font-weight-bold">Educação de Qualidade</h5></a>
        <p class="card-text txt">Garantir o acesso à educação inclusiva, de qualidade e equitativa, e promover oportunidades de aprendizagem ao longo da vida para todos.</p>
      </div>
      <div class="card-footer txt">
        <small class="text-muted">Atualizado em 2020</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/img/foto1.jpeg" style="height: 350px; width: 350px;" alt="Imagem de capa do card">
      <div class="card-body">
        <a href="https://brasil.un.org/pt-br/sdgs/10" target="_blank"><h5 class="card-title txt font-weight-bold">Redução das desigualdades</h5></a> 
        <p class="card-text txt">Reduzir as desigualdades no interior dos países e entre países.</p>
      </div>
      <div class="card-footer txt">
        <small class="text-muted">Atualizado em 2020</small>
      </div>
    </div>
  </div>
</div>
<!--SOBRE FORMULARIO ou outra coisa-->
<div class="container">
</div>
<!--BOTAO PARA SE REGISTRAR-->
<div class="row w-100 mt-s mb-5">
  <div class="col-md-12 w-100 d-flex justify-content-center">
    <button
      class="btn btn-dark botao-estilo txt text-uppercase font-weight-bold mt-3 btn-lg"
    routerLink="/signup">
      REGISTRAR
    </button>
  </div>
</div>