@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mulish:wght@300&display=swap');


.parallax {
  background-image: url("/assets/img/foto2.jpeg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax p.color-txt,
h1 {
  color: #ffffff;
  font-family: 'Libre Baskerville', serif;
}

.paralax {
  background-image: url("/assets/img/learning3.jpg");
  opacity: 0.8;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.botao-estilo {
  box-shadow: 5px 10px #AC9786;
}

.botao-estilo:hover{
  color: #AC9786;
}

.posiCard {
  bottom: 25px;
}

.txtSize {
  font-size: 30pt;
}

.paralax h1.txtPosicao {
  position: absolute;
  top: 145px;
  left: 255px;
  font-size: 40px;
}

.colorCard1{
  background: #D8963B;
}

.colorCard2{
  background: #637F57;
}

.colorCard3{
  background: #77B8E8;
}

.bodycard{
  opacity: 1.8;
}

.ptext{
  font-size: 15pt;
}

.txt{
  font-family: 'Mulish', sans-serif;
}

.txt-color{
  color: #ffffff;
 
}