<div class="container ">
  <div class="row">
    <div class="col-md-12">
      <div class="container" id="b-sg">
        <div class="row">
          <div class="col-md-6 text-center" >
            <h3 id="login" class="txt font-weight-bold">Área de Acesso</h3>
            <form class="form-signin">
              <img class="mb-4" src="./assets/img/logo3.png" style="border-radius: 10px; box-shadow: 5px 10px #888888;" alt width="72" height="72" />
              <h1 class="h3 mb-3 font-weight-normal txt">Faça Login</h1>
              <label for="inputEmail" class="sr-only txt">Usuário Email</label>
              <input
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="Usuário Email"
                required
                autofocus
                [(ngModel)] = 'userLogin.email' name='email'
              />
              <label for="inputPassword" class="sr-only">Senha</label>
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Senha"
                required
                [(ngModel)]='userLogin.senha' name='senha'
              />
              <div class="checkbox mb-3">
              </div>
              <a routerLink="/signup" class="txt">Ainda não é um membro? Registre-se</a> 
              <button class="btn btn-warning btn-dark btn-block font-weight-bold txt botao-estilo" style="box-shadow: 5px 5px #888888" type="submit" (click)='entrar()'>
                ENTRAR
              </button>
              <p class="mt-5 mb-3 text-muted text-center txt">© 2020-2021</p>
            </form>
          </div>
          <div class="col-md-6"> <img src="/assets/img/joinUs.jpg"  alt="join" style="border-radius: 20pt; height: 427px; width: 427px;"></div>
        </div>
      </div>
      <br>
      <hr>
    </div>
  </div>
</div>