<div class="site-footer color-footer">
  <div class="container">
  <div class="row">
  <div class="col-lg-3 mr-auto">
  <div class="widget">
  <h3 class="txt font-weight-bold">DONATE SKILLS<span class="text-primary"></span> </h3>
  <p class="txt">Uma comunidade brasileira de aprendizagem online para pessoas que
    desejam aprender, ensinar e se divertir.</p>
  </div> <!-- /.widget -->
  <div class="widget">
  <h3 class="txt font-weight-bold">Connect</h3>
  <ul class="social-network">
    <li>
      <a
        href="https://www.facebook.com/Donate-Skills-109603674294297"
        target="_blank"
        class="icoFacebook"
        title="Facebook"
      >
        <fa-icon [icon]="faFacebook" class="faFacebook fa-lg "></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/donateskillsfoundation/"
        target="_blank"
        class="icoInstagram"
        title="Instagram"
      >
        <fa-icon
          [icon]="faInstagram"
          class="faInstagram   fa-lg"
        ></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/donate-skills-47a4ab1bb/"
        target="_blank"
        class="icoLinkedin"
        title="Linkedin"
      >
        <fa-icon
          [icon]="faLinkedin"
          class="faLinkedin fa-lg "
        ></fa-icon>
      </a>
    </li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  <div class="col-lg-2 ml-auto">
  <div class="widget">
  <h3 class="txt font-weight-bold">PROJETOS</h3>
  <ul class="list-unstyled float-left links ">
  <li><a href="#aulas" class="link-color">LÓGICA DE PROGRAMAÇÃO</a></li>
  <li><a href="#aulas" class="link-color">IDIOMAS</a></li>
  <li><a href="#aulas" class="link-color">MÚSICA</a></li>
  <li><a href="#aulas" class="link-color">COMUNICAÇÃO</a></li>
  <li><a href="#aulas" class="link-color">RACIOCÍNIO</a></li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  <div class="col-lg-3">
  <div class="widget">
  <h3 class="txt font-weight-bold">SKILLS</h3>
  <ul class="instafeed instagram-gallery list-unstyled">
  <li><a class="instagram-item" href="#aulas" data-fancybox="gal"><img src="./assets/img/boy.png" alt="" width="72" height="72" data-pagespeed-url-hash="2210605949" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
  </li>
  <li><a class="instagram-item" href="#aulas" data-fancybox="gal"><img src="./assets/img/presentation.png" alt="" width="72" height="72" data-pagespeed-url-hash="2505105870" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
  </li>
  <li><a class="instagram-item" href="#aulas" data-fancybox="gal"><img src="./assets/img/knowledge.png" alt="" width="72" height="72" data-pagespeed-url-hash="2799605791" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
  </li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  <div class="col-lg-3">
  <div class="widget">
  <h3 class="txt font-weight-bold">CONTATO</h3>
  <address class="txt">Endereço: Avenida Brigadeiro Faria Lima, 3477, Itaim Bibi, São Paulo - SP, 04538-133, Brazil</address>
  <ul class="list-unstyled links mb-4">
    <fa-icon
    [icon]="faEmail"
    class="faVoicemail fa-lg "
  ></fa-icon>
  <li><a href="mailto:donateskillsfoundation@gmail.com" class="link-color txt">donateskillsfoundation@gmail.com</a></li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  </div> <!-- /.row -->
  <div class="footer-copyright color-footer text-center py-3 margin">
    <span class="text-light texto text-uppercase font-weight-bold text-align-end txt"> ©2020 Copyright All rights reserved | DONATE SKILLS&reg; </span>
  </div>
  </div> <!-- /.container -->
  </div> <!-- /.site-footer -->