<div class="site-footer color-footer">
  <div class="container">
  <div class="row">
  <div class="col-lg-3 mr-auto">
  <div class="widget">
  <h3>About Nurture<span class="text-primary">.</span> </h3>
  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
  </div> <!-- /.widget -->
  <div class="widget">
  <h3>Connect</h3>
  <ul class="social-network">
    <li>
      <a
        href="https://github.com/Mariotti7"
        target="_blank"
        class="icoFacebook"
        title="Facebook"
      >
        <fa-icon [icon]="faFacebook" class="faFacebook fa-lg "></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/leandromariotti/?hl=pt-br"
        target="_blank"
        class="icoInstagram"
        title="Instagram"
      >
        <fa-icon
          [icon]="faInstagram"
          class="faInstagram   fa-lg"
        ></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/leandromariotti"
        target="_blank"
        class="icoLinkedin"
        title="Linkedin"
      >
        <fa-icon
          [icon]="faLinkedin"
          class="faLinkedin fa-lg "
        ></fa-icon>
      </a>
    </li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  <div class="col-lg-2 ml-auto">
  <div class="widget">
  <h3>Projects</h3>
  <ul class="list-unstyled float-left links">
  <li><a href="#">Web Design</a></li>
  <li><a href="#">HTML5</a></li>
  <li><a href="#">CSS3</a></li>
  <li><a href="#">jQuery</a></li>
  <li><a href="#">Bootstrap</a></li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  <div class="col-lg-3">
  <div class="widget">
  <h3>Gallery</h3>
  <ul class="instafeed instagram-gallery list-unstyled">
  
  <li><a class="instagram-item" href="" data-fancybox="gal"><img src="images/gal_3.jpg" alt="" width="72" height="72" data-pagespeed-url-hash="2210605949" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
  </li>
  <li><a class="instagram-item" href="" data-fancybox="gal"><img src="images/gal_4.jpg" alt="" width="72" height="72" data-pagespeed-url-hash="2505105870" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
  </li>
  <li><a class="instagram-item" href="" data-fancybox="gal"><img src="images/gal_5.jpg" alt="" width="72" height="72" data-pagespeed-url-hash="2799605791" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
  </li>
 
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  <div class="col-lg-3">
  <div class="widget">
  <h3>Contact</h3>
  <address>43 Raymouth Rd. Baltemoer, London 3910</address>
  <ul class="list-unstyled links mb-4">
  <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
  <li><a href="tel://11234567890">+1(123)-456-7890</a></li>
  <li><a href="mailto:info@mydomain.com">info@mydomain.com</a></li>
  </ul>
  </div> <!-- /.widget -->
  </div> <!-- /.col-lg-3 -->
  </div> <!-- /.row -->
  <div class="footer-copyright color-footer text-center py-3 margin">
    <span class="text-light texto text-uppercase font-weight-bold text-align-end"> ©2020 Copyright DONATE SKILLS&reg; </span>
  </div>
  </div> <!-- /.container -->
  </div> <!-- /.site-footer -->
  