<div _ngcontent-jpq-c87 class=" container col-md-5 card mt-4 border-0 mb-25">
  <div class="row mt5 mb5">
      <div class="col-md-12">
          <h1 class="text-center">Junte-se a nós!!</h1>
      </div>
  </div>
  <div class="row mb-5 d-flex justify-content-center txt">
      <div class="col-md-8">
          <div>
              <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome"
                  placeholder="Digite Seu nome" [(ngModel)]='usuario.nome'>
                  <small id="nomeHelp" class="form-text text-muted">Mínimo 3 caracteres, máximo 100</small>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email"
                  placeholder="nome@exemplo.com" [(ngModel)]='usuario.email'>
              </div>
              <div class="form-group">
                  <label for="senha">Senha</label>
                  <input type="password" class="form-control" id="senha"
                  placeholder="Digite Sua Senha" (input)='conferirSenha($event)' value='{{senha}}'>
                  <small id="emailHelp" class="form-text text-muted">Mínimo 8 caracteres, máximo 100</small>
              </div>
              <div class="form-group">
                  <label for="senhaConf">Confirmar Senha</label>
                  <input type="password" class="form-control" id="senhaConf"
                  placeholder="Confirme Sua Senha" [(ngModel)]='usuario.senha'>
              </div>
              <div class="d-flex justify-content-center">
                  <button class="btn btn-dark botao-estilo" (click)='cadastrar()'>REGISTRAR</button>

              </div>   
          </div>
      </div>
  </div>
</div>