<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <form>
                <h3 class="text-center">Junte-se A Nós!</h3>
                <div class="form-group row">
                    <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputNome" placeholder="Nome">
                    </div>
                  </div>
                <div class="form-group row">
                  <label for="inputEmai" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmai" placeholder="Email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Senha</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Senha">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-warning font-weight-bold" style="box-shadow: 5px 5px #888888">RESGISTRAR</button>
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>
