<div _ngcontent-jpq-c87 class=" container col-md-5 card mt-4 border-0 mb-25">
  <div class="row mt5 mb5">
      <div class="col-md-12">
          <h1 class="text-center txt">Junte-se a Nós!!</h1>
      </div>
  </div>
  <div class="row mb-5 d-flex justify-content-center">
      <div class="col-md-8">
          <div>
              <div class="form-group">
                  <label for="nome" class="txt">Nome</label>
                  <input type="text" class="form-control" id="nome"
                  placeholder="Digite Seu Nome" >
              </div>
              <div class="form-group">
                  <label for="email" class="txt">Email</label>
                  <input type="email" class="form-control" id="email"
                  placeholder="nome@exemplo.com" >
              </div>
              <div class="form-group">
                  <label for="senha" class="txt">Senha</label>
                  <input type="password" class="form-control" id="senha"
                  placeholder="Digite Sua Senha">
              </div>
              <div class="form-group">
                  <label for="senhaConf" class="txt">Confirmar Senha</label>
                  <input type="password" class="form-control" id="senhaConf"
                  placeholder="Confirme Sua Senha">
              </div>
              <div class="d-flex justify-content-center txt">
                  <button class="btn btn-dark botao-estilo">REGISTRAR</button>

              </div>
          
              

              
          </div>
      </div>
  </div>
</div>