<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        
        <app-perfil-lateral></app-perfil-lateral>
      </div>
      <!--VIDEOS-->
      <div class="col-md-8">
        

      <div class="row d-flex align-items-end">
        <div class="col-md-6">
          <div class="form-group m-0" *ngFor="let item of listaCurso">
            <label class="txt" for="tema"
              >Escolha um Curso ou
              <a routerLink="/publicacao">Cadastre um novo</a></label
            >
            <select name="categoria" id="categoria" class="form-control">
              <option class="text-muted">
                Escolha um Curso
              </option>
              <option>
              {{item.nome_curso}}
              </option>
              <option>
               {{item.nome_curso}}
              </option>
              <option>
              {{item.nome_curso}}
              </option>
              <option>
              {{item.nome_curso}}
              </option>
              <option>
              {{item.nome_curso}}
              </option>
              <option>
              {{item.nome_curso}}
              </option>
            
            </select>
            <select name="curso" id="curso" class="form-control mt-3">
              <option>
                Escolha uma Categoria
              </option>
              <option>
                {{item.categoria.tipo_curso}}
              </option>
            </select>
          </div>
          <div class="col-md-6 d-flex justify-content-right">
            <a routerLink="/curso"> <button type="button" class="btn btn-dark btn-lg w-100 mt-3 mr-3 txt botao-estilo text-uppercase">
              Assistir
            </button></a>
          </div>
          <!--videos -->
         
        </div>

      
      <!--VIDEOS-->
    </div>
  </div>
  