<div class="container d-flex justify-content-center">
    <div class="col-md-8">
      <h3 class="text-center mb-4 txt font-weight-bold">VIDEO AULA</h3>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <h3 id="quemsomos" class="txt font-weight-bold">Nome do Curso</h3>
          <p class="txt ptext">
            Cacilds vidis litro abertis.
          </p>
          
          <h3 id="quemsomos" class="txt font-weight-bold">Categoria</h3>
        <p class="txt ptext">
          Si u mundo tá muito paradis?
          Toma um mé que o mundo vai girarzis! In elementis mé pra quem é
          amistosis quis leo.
        </p>
          
        <h3 id="quemsomos" class="txt font-weight-bold">Descrição</h3>
        <p class="txt ptext">
          Mussum Ipsum, cacilds vidis litro abertis. Interessantiss quisso pudia
          ce receita de bolis, mais bolis eu num gostis.
        </p>
        <h3 id="quemsomos" class="txt font-weight-bold">Criador do Curso</h3>
          <p class="txt ptext">
            Mussum Ipsum.
          </p>
      </div>
      <div class="col-md-6">
        <iframe
          width="560"
          height="335"
          src="https://www.youtube.com/embed/UB1TRAOGtOw"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
