<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-perfil-lateral></app-perfil-lateral>
    </div>
    <div class="col-md-8">
      <br>
      <br>
      <br>
      <h3 class="text-center mb-4 txtheadline txt">
        COMECE SUA EXPERIÊNCIA
      </h3>
      <div class="container d-flex justify-content-center pb-3">
        <button type="button" class="btn btn-dark botao btn-lg w-50 mr-3 ml-3 txt botao-estilo"> <a routerLink='/publicacao'>PUBLICAR CURSO</a></button>
      <button type="button" class="btn btn-dark btn-lg txt w-50 botao-estilo">
        <a routerLink='/conteudo'> ASSISTIR AULA</a>
        </button>
        <button type="button" class="btn btn-dark botao btn-lg w-50  ml-3 txt botao-estilo" (click)='meusCursos()'>MEUS CURSOS</button>
      </div>
    </div>
  </div>
</div>
