<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
          <app-perfil-lateral></app-perfil-lateral>
        </div>
        <div class="col-md-8">
          <h3 class="text-center mb-4 txt">Cadastre um novo curso</h3>
        <div class="row mb-5">
          <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-dark txt w-40 botao-estilo"><a routerLink='/publicacao' class="text-uppercase color">Cadastrar</a></button>
          </div>
        </div>
        <hr>
        <div class="row mt-5">
          <div class="col-md-12">
            <h4 class="text-center text-monospace">Lista de Cursos</h4>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Nome</th>
              <th scope="col" class="text-center">Descrição</th>
              <th scope="col" class="text-center">Link</th>
              <th scope="col" class="text-center">Categoria</th>
              <th scope="col" class="d-flex justify-content-end">Modificações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-center">1</th>
              <td class="text-center">Inglês</td>
              <td class="text-center">Curso de Inglês</td>
              <td class="text-center">"http://localhost:8080"</td>
              <td class="text-center">Idioma</td>
                <td class="d-flex justify-content-end">
                  <a class="btn btn-outline-info mr-3 hover">Editar</a>
                  <a class="btn btn-outline-danger hover">Apagar</a>
                </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
