<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"></a><img src="/assets/img/logods.jpeg" style="width: 200px; height: 50px;" alt="Donate Skills">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex justify-content-center">
      <li class="nav-item ">
        <a class="nav-link txt" routerLink='/home'>HOME <span class="sr-only">(página atual)</span></a>
      </li>

      <div *ngIf='authService.btnLogin()'>
        <li class="nav-item">
          <a class="nav-link txt" routerLink='/login'>LOGIN</a>
        </li>
      </div>

      <div *ngIf='authService.btnLogin()'>
        <li class="nav-item">
          <a class="nav-link txt" routerLink='/signup'>REGISTRAR</a>
        </li>
      </div>

      <div *ngIf='authService.btnSair()'>
        <li class="nav-item">
          <a class="nav-link txt" routerLink='/acesso'>ACESSO</a>
        </li>
      </div>
      
      <div *ngIf='authService.btnSair()'>
        <li class="nav-item">
          <a class="nav-link txt" routerLink='/conteudo'>CONTEÚDO</a>
        </li>
      </div>
      
      <div *ngIf='authService.btnSair()'>
        <li class="nav-item">
          <a class="nav-link txt" routerLink='/publicacao'>PUBLICAÇÃO</a>
        </li>
      </div>

      <div *ngIf='authService.btnSair()'>
        <li class="nav-item">
          <a class="nav-link txt" (click)='sair()'>SAIR</a>
        </li>
      </div>
      
      </ul>
  </div>
</nav>
