<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">DONATE SKILLS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex justify-content-center">
      <li class="nav-item ">
        <a class="nav-link" routerLink='/home'>HOME <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/login'>LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/singup'>REGISTRAR</a>
      </li>
      </ul>
  </div>
</nav>
